/* საერთო / commons */
.row{
    display: flex;
}
.grid{
    display: grid;
}
.no-screen{
    display: none;
}
button{
    background-color: transparent;
}
.d-wrapper{
    margin-inline: auto;
    width: 70%;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.center{
    align-items: center;
    justify-content: center;
}
.h-center{
    justify-content: center;
}
.v-center{
    align-items: center;
}
.btn{
    border-radius: var(--sp-smaller);
    cursor: pointer;
    padding: var(--sp-small);
}