@import url(variables.css);
@import url(resets.css);
@import url(commons.css);

.logo img {
    height: 50px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.header {
    height: 100vh;
    background-image: url("../images/red-wine-8744058_640.png");
    background-position: center;  
    font-family: sans-serif;
    background-repeat: no-repeat;  
    background-size: contain;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 20px;
    background-color: rgba(0,0,0,0.4); 
    color: white;
    position: relative;
    z-index: 10; /* რომ სურათი უკან დარჩეს */
}
.dropdown {
    list-style: none;
    display: none;
    background-color: rgba(0,0,0,0.4); 
    align-items: center;
    justify-content: left;
    padding: 0;
    margin: 0;
}
.dropdown .wine a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    color: white;
    text-decoration: none;

}
/* dropdown hover-ზე */
.has-dropdown:hover .dropdown {
    display: block;
}

.dropdown li a {
    padding: 10px 15px;
}


.main-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}
.main-nav a {

    color: white;
    font-size: 15px;
    list-style: none;
    text-decoration: none; 
    gap: 6px;
}
.nav-language  {
display: flex;
gap: 12px;
}
.nav-language a {
color: white;
display: flex;
text-decoration: none;
font-size: 15px;
}
.nav-language a.active {
    background: white;
    color: #222;
    font-weight: 600;
}
.photo-binder {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 500px;
}

.photo-binder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Footer */
.site-footer {
    background-color: rgba(6, 4, 4, 0.2);
    color: white;
    padding: 20px 200px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-centre a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    
}

.footer-right a {
    color: white;
    text-decoration: none;
}



