.logo img {
    height: 50px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
  
    background-color: rgb(239, 227, 233);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 20px;
    color: black;
    position: relative;
    
}


.dropdown {
    list-style: none;
    display: none;
    background-color: rgba(0,0,0,0.4); 
    align-items: center;
    justify-content: left;
    padding: 0;
    margin: 0;
}
.dropdown .wine a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    color: rgb(246, 235, 235);
    text-decoration: none;

}
/* dropdown hover-ზე */
.has-dropdown:hover .dropdown {
    display: block;
}

.dropdown li a {
    padding: 10px 15px;
}


.main-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-nav a {

    color: black;
    font-size: 15px;
    list-style: none;
    text-decoration: none; 
    gap: 6px;
}
.nav-language  {
display: flex;
gap: 12px;
}
.nav-language a {
color: black;
display: flex;
text-decoration: none;
font-size: 15px;
}
.nav-language a.active {
    background: white;
    color: #222;
    font-weight: 600;
}

/*--section--*/
.red-wine {
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.4);
}
.saperavi-wine {
    max-width: 1100px;
    margin: 80px auto;
    padding: 40px;
    display: flex;
    gap: 40px;
    
    background-color: rgba(232, 158, 158, 0.45);
    border-radius: 16px;
    color: black;
}
.wine-page {
    min-height: 100vh;
    padding: 0 60px 60px;
}

.wine-page h1 {
    font-size: 30px;
    text-align: center;
    color: black;
    padding: 0;
}

.saperavi-description h2 {
  text-align: center;
  padding: 0;
}
.text-description {
    padding: 60px 0;
}
 
.alc {
    padding: 0;
    text-align: justify;
}



/* Footer */
.site-footer {
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 20px 200px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-centre a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    
}

.footer-right a {
    color: white;
    text-decoration: none;
}

