.logo img {
    height: 50px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
  
    background-color: rgb(239, 227, 233);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 20px;
    color: black;
    position: relative;
    
}


.dropdown {
    list-style: none;
    display: none;
    background-color: rgba(0,0,0,0.4); 
    align-items: center;
    justify-content: left;
    padding: 0;
    margin: 0;
}
.dropdown .wine a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    color: rgb(246, 235, 235);
    text-decoration: none;

}
/* dropdown hover-ზე */
.has-dropdown:hover .dropdown {
    display: block;
}

.dropdown li a {
    padding: 10px 15px;
}


.main-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-nav a {

    color: black;
    font-size: 15px;
    list-style: none;
    text-decoration: none; 
    gap: 6px;
}
.nav-language  {
display: flex;
gap: 12px;
}
.nav-language a {
color: black;
display: flex;
text-decoration: none;
font-size: 15px;
}
.nav-language a.active {
    background: white;
    color: #222;
    font-weight: 600;
}

/* მთავარი კონტეინერი */
.stores {
    display: flex;
    gap: 40px;                 /* დაშორება სვეტებს შორის */
    justify-content: center;   /* ჰორიზონტალურად ცენტრში */
    align-items: flex-start;   /* ვერტიკალურად ზედა მხარეს */
    padding: 40px 20px;
    align-items: stretch; 
    
}

h1 {
    text-align: center;
}

/* თითოეული სვეტი */
.stores-col {
    height: auto;
    width: 400px;         
    background-color: #fff;    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

/* სათაურები */
.stores-col h2 {
    margin-bottom: 15px;
    font-size: 25px;
}

/* მისამართები */
.stores-col ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.stores-col ul li {
    margin-bottom: 5px;
    font-size: 15px;
}

/* სურათი */
.stores-col a img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.stores-col a img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
